
@{
    ViewBag.Title = "Terminos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>T&eacute;rminos y Condiciones de Uso del Sitio Web</title>
<body lang=EN-US link=blue vlink=purple>

    <div class=Section1>

        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <span lang=ES-MX
                      style='font-family:Arial'>T&eacute;rminos y Condiciones de Uso de Alejankorps</span>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <span lang=ES-MX
                      style='font-size:14.0pt;font-family:Arial'>&nbsp;</span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                Los siguientes t&eacute;rminos y condiciones (los "T&eacute;rminos
                y Condiciones") rigen el uso que usted le d&eacute; a este sitio web y a cualquiera de
                los contenidos disponibles por o a trav&eacute;s de este sitio web, incluyendo
                cualquier contenido derivado del mismo (el "Sitio Web"). Time Inc. ("Time Inc."
                o "nosotros") ha puesto a su disposici&oacute;n el Sitio Web. Podemos cambiar los
                T&eacute;rminos y Condiciones de vez en cuando, en cualquier momento sin ninguna
                notificaci&oacute;n, s&oacute;lo publicando los cambios en el Sitio Web. AL USAR EL SITIO
                WEB, USTED ACEPTA Y EST&Eacute; DE ACUERDO CON ESTOS T&Eacute;RMINOS Y CONDICIONES EN LO QUE
                SE REFIERE A SU USO DEL SITIO WEB. Si usted no est&aacute; de acuerdo con estos
                T&eacute;rminos y Condiciones, no puede tener acceso al mismo ni usar el Sitio Web de
                ninguna otra manera.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Derechos de Propiedad. </u>Entre usted
                y Time Inc., Time Inc. es due&ntilde;o &uacute;nico y exclusivo, de todos los derechos,
                t&iacute;tulo e intereses en y del Sitio Web, de todo el contenido (incluyendo, por
                ejemplo, audio, fotograf&iacute;as, ilustraciones, gr&aacute;ficos, otros medios visuales,
                videos, copias, textos, software, t&iacute;tulos, archivos de Onda de choque, etc.),
                c&oacute;digos, datos y materiales del mismo, el aspecto y el ambiente, el dise&ntilde;o y la
                organizaci&oacute;n del Sitio Web y la compilaci&oacute;n de los contenidos, c&oacute;digos, datos y
                los materiales en el Sitio Web, incluyendo pero no limitado a, cualesquiera
                derechos de autor, derechos de marca, derechos de patente, derechos de base de
                datos, derechos morales, derechos sui generis y otras propiedades intelectuales
                y derechos patrimoniales del mismo. Su uso del Sitio Web no le otorga propiedad
                de ninguno de los contenidos, c&oacute;digos, datos o materiales a los que pueda acceder
                en o a trav&eacute;s del Sitio Web.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                2.         <u>Licencia Limitada</u>. Usted puede
                acceder y ver el contenido del Sitio Web desde su computadora o desde cualquier
                otro aparato y, a menos de que se indique de otra manera en estos T&eacute;rminos y
                Condiciones o en el Sitio Web, sacar copias o impresiones individuales del
                contenido del Sitio Web para su uso personal, interno &uacute;nicamente. El uso del
                Sitio Web y de los servicios que se ofrecen en o a trav&eacute;s del Sitio Web, son s&oacute;lo
                para su uso personal, no comercial.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                3.         <u>Uso Prohibido.</u> Cualquier
                distribuci&oacute;n, publicaci&oacute;n o explotaci&oacute;n comercial o promocional del Sitio Web,
                o de cualquiera de los contenidos, c&oacute;digos, datos o materiales en el Sitio Web,
                est&aacute; estrictamente prohibida, a menos de que usted haya recibido el previo
                permiso expreso por escrito del personal autorizado de Time Inc. o de alg&uacute;n otro
                poseedor de derechos aplicable. A no ser como est&aacute; expresamente permitido en el
                presente contrato, usted no puede descargar, informar, exponer, publicar,
                copiar, reproducir, distribuir, transmitir, modificar, ejecutar, difundir,
                transferir, crear trabajos derivados de, vender o de cualquier otra manera
                explotar cualquiera de los contenidos, c&oacute;digos, datos o materiales en o
                disponibles a trav&eacute;s del Sitio Web. Usted se obliga adem&aacute;s a no alterar,
                editar, borrar, quitar, o de otra manera cambiar el significado o la apariencia
                de, o cambiar el prop&oacute;sito de, cualquiera de los contenidos, c&oacute;digos, datos o
                materiales en o disponibles a trav&eacute;s del Sitio Web, incluyendo, sin limitaci&oacute;n,
                la alteraci&oacute;n o retiro de cualquier marca comercial, marca registrada, logo, marca
                de servicios o cualquier otro contenido de propiedad o notificaci&oacute;n de derechos
                de propiedad. Usted reconoce que no adquiere ning&uacute;n derecho de propiedad al
                descargar alg&uacute;n material con derechos de autor de o a trav&eacute;s del Sitio Web. Si
                usted hace otro uso del Sitio Web, o de los contenidos, c&oacute;digos, datos o
                materiales que ah&iacute; se encuentren o que est&eacute;n disponibles a trav&eacute;s del Sitio
                Web, a no ser como se ha estipulado anteriormente, usted puede violar las leyes
                de derechos de autor y otras leyes de los Estados Unidos y de otros pa&iacute;ses, as&iacute;
                como las leyes estatales aplicables, y puede ser sujeto a responsabilidad legal
                por dicho uso no autorizado.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                4.         <u>Marcas Comerciales.</u> Las marcas
                comerciales, logos, marcas de servicios, marcas registradas (conjuntamente las
                "Marcas Comerciales") expuestas en el Sitio Web o en los contenidos disponibles
                a trav&eacute;s del Sitio Web son Marcas Comerciales de Time Inc. registradas y no
                registradas y otras, y no pueden ser usadas con respecto a productos y/o
                servicios que no est&eacute;n relacionados, asociados o patrocinados por sus
                poseedores de derechos y que puedan causar confusi&oacute;n a los clientes, o de
                alguna manera que denigre o desacredite a sus poseedores de derechos. Todas las
                Marcas Comerciales que no sean de Time Inc. que aparezcan en el sitio Web o en
                o a trav&eacute;s de los servicios del Sitio Web, si las hubiera, son propiedad de sus
                respectivos due&ntilde;os. Nada que est&eacute; contenido en el Sitio Web deber&aacute; ser interpretado
                como otorgando, por implicaci&oacute;n, desestimaci&oacute;n, o de otra manera, alguna
                licencia o derecho para usar alguna Marca Comercial expuesta en el Sitio Web
                sin el permiso escrito de Time Inc. o de terceros que puedan ser due&ntilde;os de
                dicha Marca Comercial. El mal uso de las Marcas Comerciales expuestas en el
                Sitio Web o en o a trav&eacute;s de cualquiera de los servicios del Sitio Web est&aacute;
                estrictamente prohibido.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                5.         <u>Informaci&oacute;n del Usuario.</u> En el
                curso del uso que usted haga del Sitio Web y/o de los servicios puestos a su
                disposici&oacute;n en o a trav&eacute;s del Sitio Web, se le puede pedir que nos proporcione
                cierta informaci&oacute;n personalizada (dicha informaci&oacute;n en lo sucesivo "Informaci&oacute;n
                del Usuario"). Las pol&iacute;ticas de uso y recopilaci&oacute;n de informaci&oacute;n de Time Inc.
                con respecto a la privacidad de dicha Informaci&oacute;n del Usuario se establecen en
                la <u><a href="http://www.peopleenespanol.com/pespanol/privacidad">Pol&iacute;tica de Privacidad</a></u> del Sitio Web, la cual est&aacute; incorporada al
                mismo como referencia para todos los prop&oacute;sitos. Usted reconoce y acepta ser el
                &uacute;nico responsable de la exactitud del contenido de la Informaci&oacute;n del Usuario.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                6.         <u>Materiales Presentados.</u> A menos que
                se solicite espec&iacute;ficamente, no pedimos ni deseamos recibir ninguna informaci&oacute;n
                confidencial, secreta o patrimonial, ni otro material de usted a trav&eacute;s del
                Sitio Web, por correo electr&oacute;nico o de cualquier otra manera. Cualquier
                informaci&oacute;n, trabajos creativos, demostraci&oacute;n, ideas, sugerencias, conceptos,
                m&eacute;todos, sistemas, dise&ntilde;os, planes, t&eacute;cnicas u otros materiales que nos haya
                mandado o presentado (incluyendo, por ejemplo y sin limitaci&oacute;n, aquello que
                usted presenta o env&iacute;a a nuestros grupos de chateo, tablas de mensajes y/o a
                nuestros ‘blogs’, o que nos manda v&iacute;a correo electr&oacute;nico) ("Materiales Presentados")
                se considerar&aacute; como no confidencial o secreto y que puede ser usado por
                nosotros de cualquier manera consistente con la <a name="OLE_LINK2"></a><a name="OLE_LINK1"><u><a href="http://www.peopleenespanol.com/pespanol/privacidad">Pol&iacute;tica de Privacidad</a></u></a>del Sitio Web. Al presentarnos
                o mandarnos Materiales Presentados, usted: (i) representa y garantiza que los
                Materiales Presentados son originales suyos, que ninguna otra persona tiene
                ning&uacute;n derecho sobre ellos, y que cualquier "derecho moral" sobre los
                Materiales Presentados ha sido renunciado, y (ii) usted nos concede, a nosotros
                y a nuestros afiliados, derecho y licencia libres de regal&iacute;as, sin
                restricciones, mundiales, perpetuos, irrevocables, no exclusivos y totalmente
                transferibles, que pueden ser cedidos y sub-licenciados, para usar, copiar,
                reproducir, modificar, adaptar, publicar, traducir, crear trabajos derivados
                de, distribuir, ejecutar, exponer e incorporar en otros trabajos cualquiera de
                los Materiales Presentados (todos o en parte) en cualquier forma, medio o
                tecnolog&iacute;a no conocida o por desarrollar, incluyendo prop&oacute;sitos promocionales
                y/o comerciales. No podemos ser responsables de conservar ning&uacute;n Material
                Presentado proporcionado por usted y podemos borrar o destruir dicho Material
                Presentado en cualquier momento.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                7.         <u>Conducta Prohibida del Usuario.</u>
                Usted garantiza y est&aacute; de acuerdo en que, mientras use el Sitio Web y los
                diversos servicios y art&iacute;culos que se ofrecen en o a trav&eacute;s del Sitio Web,
                usted no: (a) personalizar&aacute; a ninguna persona o entidad ni desvirtuar&aacute; su
                afiliaci&oacute;n con alguna otra persona o entidad; (b)  insertar&aacute; su propio anuncio,
                posicionamiento de marca o alg&uacute;n otro contenido promocional o el de un tercero 
                en cualquiera de los contenidos, materiales o servicios o materiales del Sitio
                Web (por ejemplo, sin limitaci&oacute;n, en una actualizaci&oacute;n RSS o en un programa de
                radio grabado (podcast) recibido de Time Inc. o de alg&uacute;n otro modo a trav&eacute;s del
                Sitio Web), ni usar&aacute;, redistribuir&aacute;, republicar&aacute; o explotar&aacute; dichos contenidos
                o servicios con cualquier otro prop&oacute;sito adicional comercial o promocional; ni
                (c) intentar&aacute; ganar acceso no autorizado a otros sistemas de c&oacute;mputo a trav&eacute;s
                del Sitio Web. Usted no: (i) participar&aacute; en navegar por la red, en "raspar
                (scraping) la pantalla", "raspar (scraping) la base da datos", en recolectar
                direcciones de correo electr&oacute;nico, direcciones inal&aacute;mbricas u otra informaci&oacute;n
                personal o de contactos, o cualquier otro medio autom&aacute;tico de obtener listas de
                usuarios u otra informaci&oacute;n de o a trav&eacute;s del sitio Web o de los servicios
                ofrecidos en o a trav&eacute;s del Sitio Web, incluyendo, sin limitaci&oacute;n, cualquier
                informaci&oacute;n que se encuentre en alg&uacute;n servidor o base de datos relacionada con
                el Sitio Web o los servicios ofrecidos en o a trav&eacute;s del Sitio Web; (ii)
                obtendr&aacute; o intentar&aacute; obtener acceso no autorizado a los sistemas de c&oacute;mputo,
                materiales o informaci&oacute;n por cualquier medio; (iii) usar&aacute; el Sitio Web o los
                servicios puestos a su disposici&oacute;n en o a trav&eacute;s del Sitio Web de alguna manera
                con la intenci&oacute;n de interrumpir, da&ntilde;ar, deshabilitar, sobrecargar o deteriorar
                el Sitio Web o dichos servicios, incluyendo, sin limitaci&oacute;n, mandar mensajes masivos
                no solicitados o "inundar" servidores con solicitudes; (iv) usar&aacute; el Sitio Web
                o los servicios o art&iacute;culos del Sitio Web en violaci&oacute;n de la propiedad
                intelectual o de otros derechos legales o patrimoniales de Time Inc o de alg&uacute;n
                tercero; ni (v) usar&aacute; el Sitio Web o los servicios del Sitio Web en violaci&oacute;n
                de cualquier ley aplicable. Usted se obliga adem&aacute;s, a no intentar (o alentar o
                apoyar el intento de otro) a embaucar, destruir, decodificar, o de otro modo
                alterar o interferir con el Sitio Web o con los servicios del Sitio Web, o con
                cualquier contenido del mismo, o hacer cualquier uso no autorizado del mismo.
                Usted se obliga a no usar el Sitio Web de alguna manera que pudiera da&ntilde;ar,
                deshabilitar, sobrecargar o deteriorar el Sitio Web o interferir con que
                cualquier otra persona pueda usar o disfrutar del Sitio Web o de cualquiera de
                sus servicios. Usted no obtendr&aacute; ni intentar&aacute; obtener alg&uacute;n material o
                informaci&oacute;n a trav&eacute;s de cualquier medio que no haya sido estipulado o puesto a
                la disposici&oacute;n del p&uacute;blico intencionalmente a trav&eacute;s del Sitio Web.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                8.         <u>Foros P&uacute;blicos.</u> Time Inc. puede, de
                vez en cuando, tener servicios de mensajer&iacute;a, servicios de chateo, tableros de
                noticias, blogs, otros foros y otros servicios disponibles en o a trav&eacute;s del
                Sitio Web. Adem&aacute;s de cualquier otra normatividad y regulaci&oacute;n que podamos
                publicar con respecto a un servicio en particular, usted se obliga a no cargar,
                informar, transmitir, distribuir o de otra manera publicar a trav&eacute;s del Sitio
                Web o de cualquier servicio o art&iacute;culo puesto a la disposici&oacute;n en o a trav&eacute;s
                del Sitio Web, cualquier material que (i) restrinja o inhiba a cualquier otro usuario
                de usar y disfrutar del Sitio Web o de los servicios del Sitio Web, (ii) sea
                fraudulento, ilegal, amenazante, abusivo, hostigante, calumnioso, difamatorio,
                obsceno, vulgar, ofensivo, pornogr&aacute;fico, profano, sexualmente expl&iacute;cito o
                indecente, (iii) constituya o aliente conductas que pudieran constituir una
                ofensa criminal, dar lugar a responsabilidad civil o de otro modo violar
                cualquier ley local, estatal, nacional o internacional, (iv) viole, plagie o
                infrinja los derechos de terceros incluyendo, sin limitaci&oacute;n, derechos de
                autor, marcas comerciales, secretos comerciales, confidencialidad, contratos,
                patentes, derechos de privacidad o publicidad o cualquier otro derecho de
                propiedad, (v) contenga un virus, elemento de espionaje u otro componente da&ntilde;ino,
                (vi) contenga enlaces fijos, publicidad, cartas de cadenas o esquemas de
                pir&aacute;mides de cualquier tipo, o (vii) constituya o contenga indicaciones de
                origen, endosos o declaraciones de hechos falsos o enga&ntilde;osos. Usted adem&aacute;s se
                obliga a no personificar a cualquier otra persona o entidad, ya sea real o
                ficticia, incluyendo cualquier persona de Time Inc. Usted tampoco puede ofrecer
                comprar o vender alg&uacute;n producto o servicio en o a trav&eacute;s de sus comentarios
                presentados en nuestros foros. Solamente usted es responsable del contenido y de
                las consecuencias de cualquiera de sus actividades.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                9.         <u>
                    Derecho de Monitoreo y Control
                    Editorial.
                </u> Time Inc. se reserva el derecho, pero no tiene la obligaci&oacute;n, de
                monitorear y/o revisar todos los materiales enviados al Sitio Web o a trav&eacute;s de
                los servicios o art&iacute;culos del Sitio Web por los usuarios, y Time Inc. no es
                responsable de dichos materiales enviados por los usuarios. Sin embargo, Time
                Inc. se reserva el derecho en todo momento de divulgar cualquier informaci&oacute;n
                que sea necesaria para satisfacer cualquier ley, reglamento o solicitud
                gubernamental, o de editar, rehusarse a colocar o a quitar cualquier informaci&oacute;n
                o materiales, todos o en parte, que a discreci&oacute;n &uacute;nicamente de Time Inc. sean
                censurables o en violaci&oacute;n de estos T&eacute;rminos de Uso, de las pol&iacute;ticas de Time
                Inc o de la ley aplicable. Tambi&eacute;n podemos imponer l&iacute;mites sobre ciertos
                art&iacute;culos de los foros o restringir su acceso a parte o a todos los foros sin
                notificaci&oacute;n o sanci&oacute;n, si creemos que usted est&aacute; en incumplimiento de las
                directrices establecidas en este p&aacute;rrafo, nuestros t&eacute;rminos y condiciones o la
                ley aplicable, o por cualquier otra raz&oacute;n sin notificaci&oacute;n o responsabilidad.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                10.      <u>
                    Informaci&oacute;n Privada o Delicada en Foros
                    P&uacute;blicos.
                </u>Es importante recordar que los comentarios presentados en un foro
                pueden ser registrados y almacenados en m&uacute;ltiples lugares, tanto en nuestro
                Sitio Web como en otra parte en Internet, los cuales pueden ser accesibles
                durante mucho tiempo y no se tiene control sobre qui&eacute;n los leer&aacute; eventualmente.
                Es por lo tanto importante que tenga usted cuidado y sea selectivo acerca de la
                informaci&oacute;n personal que divulgue acerca de usted y de otros, y en especial, no
                debe divulgar informaci&oacute;n delicada, patrimonial o confidencial en sus
                comentarios en nuestros foros p&uacute;blicos.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                11.      <u>Enlaces con el Sitio Web. </u>Usted est&aacute;
                de acuerdo en que si incluye un enlace (link) de cualquier otro sitio web al
                Sitio Web, dicho enlace se abrir&aacute; en una nueva ventana navegadora y se enlazar&aacute;
                con la versi&oacute;n completa de una p&aacute;gina formateada HTML de este Sitio Web. Usted
                no tiene permitido enlazarse directamente a ninguna imagen almacenada en el
                Sitio Web o en nuestros servicios, como ser&iacute;a usar un m&eacute;todo de enlace
                "en-l&iacute;nea" para provocar que la imagen almacenada por nosotros fuera expuesta
                en otro sitio web. Usted se obliga a no descargar o usar im&aacute;genes almacenadas
                en este Sitio Web en otro sitio web, con cualquier prop&oacute;sito, incluyendo, sin limitaci&oacute;n,
                publicar dichas im&aacute;genes en otro sitio web. Usted se obliga a no enlazarse de
                cualquier otro sitio web a este Sitio Web de tal manera que el Sitio Web, o
                cualquier p&aacute;gina del Sitio Web, est&eacute; "enmarcado", rodeado u ofuscado por los
                contenidos, materiales o posicionamientos de marca de cualquier tercero. Nos
                reservamos todos nuestros derechos bajo la ley para insistir en que cualquier
                enlace al Sitio Web sea descontinuado y a revocar su derecho a enlazarse al
                Sitio Web de cualquier otro sitio web, en cualquier momento en el que le
                mandemos notificaci&oacute;n por escrito.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                12.      <u>Indemnizaci&oacute;n. </u>Usted se obliga a defender,
                indemnizar y a sacar a Time Inc. y a los directores, funcionarios, empleados y
                agentes de Time Inc. y sus afiliados en paz y a salvo de cualquier demanda,
                responsabilidad, costos y gastos, de cualquier naturaleza, incluyendo
                honorarios de abogados, en que incurriera como resultado del uso del Sitio Web,
                su colocaci&oacute;n o transmisi&oacute;n de cualquier mensaje, contenido, informaci&oacute;n,
                software u otros materiales a trav&eacute;s del Sitio Web, o su incumplimiento o
                violaci&oacute;n de la ley o de estos T&eacute;rminos y Condiciones. Time Inc. se reserva el
                derecho, a su propio costo, de asumir la defensa y control exclusivos de
                cualquier asunto de otra manera sujeto a indemnizaci&oacute;n por parte suya, y en
                dicho caso, usted se obliga a cooperar con Time Inc. en la defensa de dicha
                demanda.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                13.     
                <u>&Oacute;rdenes de Productos y Servicios. </u>Podemos
                poner ciertos productos a la disposici&oacute;n de visitantes y registrados del Sitio
                Web. Si usted ordena cualquier producto, por el presente documento usted
                representa y garantiza que tiene 18 a&ntilde;os de edad o m&aacute;s. Se obliga a pagar la
                totalidad de los precios de cualquier compra que haga, ya sea con tarjeta de
                cr&eacute;dito/d&eacute;bito concurrente con su orden en l&iacute;nea o por otro medio de pago
                aceptable para Time Inc. Usted se obliga a pagar todos los impuestos
                aplicables. Si el pago no es recibido por nosotros de parte del emisor de su
                tarjeta de cr&eacute;dito o d&eacute;bito o de sus agentes, usted se obliga a pagar todas las
                cantidades debidas al momento de la reclamaci&oacute;n por nuestra parte. Algunos
                productos que usted compra y/o descarga en o a trav&eacute;s del Sitio Web pueden
                estar sujetos a t&eacute;rminos y condiciones adicionales que le ser&aacute;n presentados al
                momento de dicha compra o descarga.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                14.      <u>Sitios Web de Terceros. </u>Usted puede
                enlazar (link) del Sitio Web a sitios web de terceros y terceros pueden enlazarse
                al Sitio Web ("Sitios Enlazados"). Usted reconoce y est&aacute; de acuerdo en que
                nosotros no tenemos responsabilidad sobre la informaci&oacute;n, contenido, productos,
                servicios, anuncios, c&oacute;digos u otros materiales que puedan o no puedan ser
                proporcionados por o a trav&eacute;s de los Sitios Enlazados, a&uacute;n si son propiedad de
                o son dirigidos por afiliados nuestros. Los enlaces (links) a Sitios Enlazados
                no constituyen un aval o patrocinio nuestro de dichos sitios web o de la informaci&oacute;n,
                contenido, productos, servicios, anuncios, c&oacute;digos u otros materiales
                presentados en o a trav&eacute;s de dichos sitios web. La inclusi&oacute;n de cualquier
                enlace a dichos sitios en nuestro Sitio no implica el aval, patrocinio o
                recomendaci&oacute;n de ese sitio de Time Inc. Time Inc. rechaza cualquier
                responsabilidad por los enlaces (1) de otro sitio web a este Sitio Web y (2) a
                otro sitio web de este Sitio Web. Time Inc. no puede garantizar los est&aacute;ndares
                de cualquier sitio web al cual se le proporcionen enlaces en este Sitio Web, ni
                ser&aacute; Time Inc. responsable de los contenidos de dichos sitios, o de cualquier
                enlace subsecuente. Time Inc. no representa o garantiza que los contenidos del
                sitio web de alg&uacute;n tercero sean exactos, que cumplan con la ley estatal o federal,
                o que cumplan con las leyes de derechos de autor o con otras leyes de propiedad
                intelectual. Time Inc. tampoco es responsable de cualquier forma de transmisi&oacute;n
                recibida de cualquier sitio web enlazado. Cualquier confianza depositada en los
                contenidos de un sitio web de terceros es hecha por su propio riesgo y usted
                asume todas las responsabilidades y consecuencias que resulten de dicha
                confianza.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>15.<u>Agente de Derechos de Autor. </u></span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <u>
                <span lang=ES-MX
                      style='font-family:Arial'><span style='text-decoration:none'>&nbsp;</span></span>
            </u>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>
                Respetamos los derechos de propiedad intelectual de
                otros y requerimos que las personas que usen el Sitio Web, o los servicios o
                art&iacute;culos puestos a su disposici&oacute;n en o a trav&eacute;s del Sitio Web, hagan lo mismo.
                Si usted cree que su trabajo ha sido copiado de un modo que constituya una
                infracci&oacute;n a los derechos de autor, por favor mande la siguiente informaci&oacute;n a
                Agente de Derechos de Autor de Time Inc., designado como tal de conformidad con
                la Digital Millennium Copyright Act, 17 U.S.C. § 512 (c) (2), nombrado abajo:
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <ul style='margin-top:0in' type=disc>
            <li class=MsoNormal style='text-align:justify'>
                <span lang=ES-MX
                      style='font-family:Arial'>
                    Su direcci&oacute;n, n&uacute;mero de tel&eacute;fono y direcci&oacute;n de
                    correo electr&oacute;nico;
                </span>
            </li>
            <li class=MsoNormal style='text-align:justify'>
                <span lang=ES-MX
                      style='font-family:Arial'>
                    Una descripci&oacute;n del trabajo con derechos de
                    autor que usted reclama ha sido infringido;
                </span>
            </li>
            <li class=MsoNormal style='text-align:justify'>
                <span lang=ES-MX
                      style='font-family:Arial'>
                    Una descripci&oacute;n de donde se localiza el supuesto
                    material infringido;
                </span>
            </li>
            <li class=MsoNormal style='text-align:justify'>
                <span lang=ES-MX
                      style='font-family:Arial'>
                    Una declaraci&oacute;n suya de que usted cree de buena
                    fe que el uso en disputa no est&aacute; autorizado por el due&ntilde;o de los derechos
                    de autor, su agente o la ley;
                </span>
            </li>
            <li class=MsoNormal style='text-align:justify'>
                <span lang=ES-MX
                      style='font-family:Arial'>
                    Una firma electr&oacute;nica o f&iacute;sica de la persona
                    autorizada para actuar en nombre del due&ntilde;o del inter&eacute;s de los derechos de
                    autor; y
                </span>
            </li>
            <li class=MsoNormal style='text-align:justify'>
                <span lang=ES-MX
                      style='font-family:Arial'>
                    Una declaraci&oacute;n suya, hecha bajo pena de
                    perjurio, de que la informaci&oacute;n antes mencionada en su notificaci&oacute;n es
                    exacta y de que usted es el due&ntilde;o de los derechos de autor o est&aacute;
                    autorizado para actuar en nombre del due&ntilde;o de los derechos de autor.
                </span>
            </li>
        </ul>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>Agente de Derechos de Autor:</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>Tom Schopper</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>Time Inc.</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES-MX
                  style='font-family:Arial'>Voz: 212-522-5865</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=FR style='font-family:
Arial'>Fax: 212-467-3320</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=FR style='font-family:
Arial'>e-mail:</span><span lang=ES-MX style='font-family:Arial'>
                <a href="mailto:copyrightdmca@timeinc.com"><span lang=FR>copyrightdmca@timeinc.com</span></a>
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=FR style='font-family:
Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>
                Para <b>Servicio al Cliente</b> no se dirija al Agente de Derechos de
                Autor, por favor dir&iacute;jase a:
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-family:Arial'>
                Time
                Customer Service
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-family:Arial'>
                3000
                University Center Drive
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-family:Arial'>Tampa</span><span style='font-family:Arial'>, Florida 33612-6408</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-family:Arial'>
                Tel:
                1-800-541-1000
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span style='font-family:Arial'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>
                16.      <u>RENUNCIA DE GARANT&Iacute;AS. </u>EL SITIO WEB, INCLUYENDO, SIN LIMITACI&Oacute;N,
                TODOS LOS SERVICIOS, CONTENIDOS, FUNCIONES Y MATERIALES PROPORCIONADOS A TRAV&Eacute;S
                DEL SITIO WEB, SON PROPORCIONADOS "TAL COMO EST&Eacute;N", "COMO SE PONEN A LA DISPOSICI&Oacute;N",
                SIN GARANT&Iacute;A DE NING&Uacute;N TIPO, YA SEA EXPRESA O IMPL&Iacute;CITA, INCLUYENDO, SIN LIMITACI&Oacute;N,
                CUALQUIER GARANT&Iacute;A DE INFORMACI&Oacute;N, DATOS, SERVICIOS DE PROCESAMIENTO DE DATOS,
                ACCESO ILIMITADO O ININTERRUMPIDO, CUALQUIER GARANT&Iacute;A CON RESPECTO A LA DISPONIBILIDAD,
                INTERPRETABILIDAD, NO INTERPRETABILIDAD, EXACTITUD, PRECISI&Oacute;N, RECTITUD,
                PERFECCI&Oacute;N, CONCLUSI&Oacute;N, UTILIDAD, O CONTENIDO DE LA INFORMACI&Oacute;N, Y CUALQUIER
                GARANT&Iacute;A DE T&Iacute;TULO, NO-INFRACCI&Oacute;N, COMERCIABILIDAD O APTITUD PARA UN PROPÓSITO
                EN PARTICULAR, Y EN EL PRESENTE RENUNCIAMOS A CUALQUIERA Y A TODAS DICHAS
                GARANT&Iacute;AS, EXPRESAS E IMPL&Iacute;CITAS. NO GARANTIZAMOS QUE EL SITIO WEB O LOS
                SERVICIOS, CONTENIDOS, FUNCIONES O MATERIALES PROPORCIONADOS A TRAV&Eacute;S DEL SITIO
                WEB SER&Eacute;N OPORTUNOS, SEGUROS, ININTERRUMPIDOS O LIBRES DE ERROR, O QUE LOS
                DEFECTOS SER&Eacute;N CORREGIDOS. NO DAMOS GARANT&Iacute;A DE QUE EL SITIO WEB O DE QUE LOS
                SERVICIOS PROPORCIONADOS CUMPLIR&Eacute;N CON LOS REQUERIMIENTOS DE LOS USUARIOS.
                NINGÚN CONSEJO, RESULTADOS O INFORMACIÓN, YA SEA ORAL O ESCRITO, QUE USTED OBTENGA
                DE NOSOTROS A TRAV&Eacute;S DEL SITIO WEB CREAR&Eacute; ALGUNA GARANT&Iacute;A QUE NO HAYA SIDO
                ESTABLECIDA EXPRESAMENTE EN EL PRESENTE. TIME INC. TAMPOCO ASUME NINGUNA
                RESPONSABILIDAD, Y NO SER&Eacute; RESPONSABLE DE CUALQUIER DA&Ntilde;O A, O DE CUALQUIER
                VIRUS QUE PUDIERA INFECTAR SU EQUIPO A CAUSA DE SU ACCESO A, USO DE, O
                NAVEGACI&Oacute;N EN EL SITIO WEB O POR DESCARGAR CUALQUIERA DE LOS MATERIALES, DATOS,
                TEXTOS, IM&Eacute;GENES, CONTENIDOS DE VIDEO O CONTENIDOS DE AUDIO DEL SITIO WEB. SI
                USTED NO EST&Eacute; SATISFECHO CON EL SITIO WEB, SU ÚNICA SOLUCIÓN ES DESCONTINUAR USANDO
                EL SITIO WEB.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <u>
                <span lang=ES
                      style='font-family:Arial'><span style='text-decoration:none'>&nbsp;</span></span>
            </u>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>
                TRATAMOS DE ASEGURAR QUE LA INFORMACI&Oacute;N PUBLICADA EN EL SITIO WEB ES
                CORRECTA Y ACTUALIZADA. NOS RESERVAMOS EL DERECHO DE CAMBIAR O HACER
                CORRECCIONES A CUALQUIER INFORMACI&Oacute;N PROPORCIONADA EN EL SITIO WEB EN CUALQUIER
                MOMENTO Y SIN NING&Uacute;N AVISO PREVIO. TIME INC. NI AVALA NI ES RESPONSABLE DE LA
                EXACTITUD O VERACIDAD DE CUALQUIER OPINI&Oacute;N, CONSEJO O DECLARACI&Oacute;N EN EL SITIO
                WEB, NI DE CUALQUIER PUBLICACI&Oacute;N OFENSIVA, DIFAMATORIA, OBSCENA, INDECENTE,
                ILEGAL O VIOLATORIA HECHA EN EL MISMO POR CUALQUIER PERSONA A NO SER UN
                EMPLEADO PORTAVOZ AUTORIZADO DE TIME INC. EN SU CAR&Eacute;CTER OFICIAL (INCLUYENDO,
                SIN LIMITACI&Oacute;N, OTROS USUARIOS DEL SITIO WEB). ES SU RESPONSABILIDAD EVALUAR LA
                EXACTITUD, CONCLUSI&Oacute;N O UTILIDAD DE CUALQUIER INFORMACI&Oacute;N, OPINI&Oacute;N, CONSEJO U
                OTRO CONTENIDO DISPONIBLE A TRAV&Eacute;S DEL SITIO WEB. POR FAVOR BUSQUE EL CONSEJO
                DE PROFESIONALES, SEGÚN SEA APROPIADO, CON RESPECTO A LA EVALUACI&Oacute;N DE
                CUALQUIER INFORMACI&Oacute;N, OPINI&Oacute;N, CONSEJO U OTRO CONTENIDO ESPEC&Iacute;FICO, INCLUYENDO
                PERO NO LIMITADO A, INFORMACIÓN, OPINIÓN, CONSEJO U OTRO CONTENIDO FINANCIERO,
                DE SALUD O DE ESTILO DE VIDA.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>
                PREVIO A LA REALIZACIÓN DE UNA COMPRA O VENTA DE CUALQUIER VALOR O
                INVERSIÓN, LE ACONSEJAMOS QUE CONSULTE CON SU CORREDOR O CON OTRO ASESOR
                FINANCIERO PARA VERIFICAR PRECIOS Y OTRA INFORMACIÓN. NO TENDREMOS NINGUNA
                RESPONSABILIDAD DE DECISIONES DE INVERSIÓN BASADAS EN, O DE RESULTADOS
                OBTENIDOS DE, EL CONTENIDO PROPORCIONADO EN EL PRESENTE. NADA CONTENIDO EN EL
                SITIO WEB SER&Eacute; INTERPRETADO COMO CONSEJO DE INVERSIÓN. TIME INC. NO ES UN
                CORREDOR DE BOLSA REGISTRADO NI UN CONSULTOR DE INVERSIONES Y NO DA CONSEJOS
                SOBRE INVERSIONES NI RECOMIENDA UN PRODUCTO SOBRE OTRO.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>
                SIN LIMITACIÓN DE LO ANTES MENCIONADO EN ESTA SECCIÓN, TIME INC, Y SUS
                AFILIADOS, PROVEEDORES Y PERSONAS QUE OTORGAN LAS LICENCIAS NO DAN GARANTÍAS NI
                REPRESENTACIONES CON RESPECTO A CUALQUIER PRODUCTO O SERVICIO ORDENADO O
                PROPORCIONADO VÍA EL SITIO WEB, Y EN EL PRESENTE RENUNCIAN, Y USTED EN EL
                PRESENTE DESISTE, DE CUALQUIERA Y DE TODAS LAS GARANTÍAS Y REPRESENTACIONES
                HECHAS A LITERATURA EN PRODUCTOS O SERVICIOS, A PREGUNTAS HECHAS FRECUENTEMENTE
                EN DOCUMENTOS Y DE ALGUNA OTRA MANERA EN EL SITIO WEB O EN CORRESPONDENCIA CON
                TIME INC. O CON SUS AGENTES. CUALQUIER PRODUCTO O SERVICIO ORDENADO O
                PROPORCIONADO VÍA EL SITIO WEB ES PROPORCIONADO POR TIME INC. "TAL COMO EST&Eacute;",
                EXCEPTO AL GRADO, SI SE DIERA EL CASO, DE ESTAR DE OTRO MODO ESTABLECIDO POR
                ESCRITO, EN UN CONTRATO DE LICENCIA O VENTA CELEBRADO POR SEPARADO ENTRE USTED
                Y TIME INC. O SU PROVEEDOR O LA PERSONA QUE OTORGA LA LICENCIA.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>
                17.      <u>LÍMITE DE RESPONSABILIDAD. </u>EN NINGÚN CASO, INCLUYENDO
                PERO NO LIMITADO A NEGLIGENCIA, SER&Eacute; RESPONSABLE TIME INC., O CUALQUIERA DE SUS
                DIRECTORES, FUNCIONARIOS, EMPLEADOS, AGENTES O PROVEEDORES, DEL CONTENIDO O DE
                LOS SERVICIOS (CONJUNTAMENTE, LAS "ENTIDADES PROTEGIDAS") DE CUALQUIER DAÑO
                DIRECTO, INDIRECTO, ESPECIAL, INCIDENTAL, CONSECUENTE, EJEMPLAR O PUNITIVO COMO
                RESULTADO DE, O DIRECTA O INDIRECTAMENTE RELACIONADO CON, EL USO DE, O LA
                INCAPACIDAD DE USAR EL SITIO WEB O LOS CONTENIDOS, MATERIALES Y FUNCIONES
                RELACIONADOS CON EL MISMO, SU PROVISIÓN DE INFORMACIÓN VÍA EL SITIO WEB,
                NEGOCIOS PERDIDOS O VENTAS PERDIDAS, AÚN CUANDO DICHA ENTIDAD PROTEGIDA HAYA
                SIDO ASESORADA SOBRE LA POSIBILIDAD DE DICHOS DAÑOS. ALGUNAS JURISDICCIONES NO
                PERMITEN LA LIMITACIÓN O EXCLUSIÓN DE RESPONSABILIDAD POR DAÑOS INCIDENTALES O
                INDIRECTOS ASÍ QUE ALGUNOS DE LAS LIMITACIONES ARRIBA MENCIONADAS NO APLICAN A
                ALGUNOS USUARIOS. EN NINGÚN CASO SER&Eacute;N RESPONSABLES LAS ENTIDADES PROTEGIDAS
                POR O EN RELACIÓN CON CUALQUIER CONTENIDO PUBLICADO, TRANSMITIDO, INTERCAMBIADO
                O RECIBIDO POR O EN NOMBRE DE CUALQUIER USUARIO O DE OTRA PERSONA EN O A TRAV&Eacute;S
                DEL SITIO WEB. EN NINGÚN CASO LA SUMA TOTAL DE LAS RESPONSABILIDADES DE LAS ENTIDADES
                PROTEGIDAS HACIA USTED, POR TODOS LOS DAÑOS, P&Eacute;RDIDAS Y CAUSAS DE ACCIÓN PENAL
                (YA SEA POR CONTRATO O POR AGRAVIO, INCLUYENDO PERO NO LIMITADO A, NEGLIGENCIA
                O DE ALGUNA OTRA MANERA) QUE RESULTEN DE LOS T&Eacute;RMINOS Y CONDICIONES O DEL USO
                QUE USTED HAGA DEL SITIO WEB, DEBER&Eacute; EXCEDER EN LA SUMA TOTAL, LA CANTIDAD, SI
                LA HUBIERA, PAGADA POR USTED A TIME INC. POR EL USO DEL SITIO WEB O POR LA
                COMPRA DE PRODUCTOS VÍA EL SITIO WEB.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>
                18.      <u>Ataques Fotosensibles. </u>Un muy peque&ntilde;o porcentaje de
                personas pueden experimentar un ataque al ser expuestas a ciertas im&aacute;genes
                visuales, como luces o dibujos intermitentes que pueden aparecer en juegos de
                video o en otros contenidos electr&oacute;nicos o en l&iacute;nea. A&uacute;n personas que no tienen
                historia de ataques o de epilepsia pueden tener una condici&oacute;n no diagnosticada
                que puede causar estos "ataques epil&eacute;pticos fotosensibles" al estar viendo
                juegos de video u otros contenidos electr&oacute;nicos. Estos ataques tienen una
                variedad de s&iacute;ntomas, incluyendo mareos, desorientaci&oacute;n, confusi&oacute;n, p&eacute;rdida
                moment&aacute;nea de conciencia, crispaci&oacute;n de ojos o cara, visi&oacute;n alterada o tirones
                o sacudidas de brazos o piernas. Si usted experimenta cualquiera de los
                s&iacute;ntomas anteriormente mencionados, o si usted o su familia tiene historia de
                ataques o epilepsia, debe de dejar inmediatamente de usar el Sitio Web y
                consultar un doctor.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>
                19.      <u>Leyes Aplicables. </u>Nosotros controlamos y operamos el
                Sitio Web desde nuestras oficinas en los Estados Unidos de Am&eacute;rica. No
                representamos a los materiales en el Sitio Web como apropiados o disponibles
                para su uso en otros lugares. Las personas que escojan acceder al sitio Web desde
                otros lugares lo har&aacute;n por su propia iniciativa y son responsables del
                cumplimiento de las leyes locales, si y al grado en que las leyes locales sean aplicables.
                Todas las partes sujetas a estos t&eacute;rminos y condiciones renuncian a sus
                derechos respectivos a un juicio con jurado.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>
                20.      <u>T&eacute;rmino.  </u>Time Inc. puede terminar, cambiar, suspender o
                descontinuar cualquier aspecto del Sitio Web o de los servicios del Sitio Web
                en cualquier momento. Time Inc. puede restringir, suspender o terminar su
                acceso al Sitio Web y/o a sus servicios si creemos que usted est&aacute; en
                incumplimiento de nuestros t&eacute;rminos y condiciones o de la ley aplicable, o por
                cualquier otra raz&oacute;n sin notificaci&oacute;n o responsabilidad. Time Inc. mantiene una
                pol&iacute;tica que estipula la terminaci&oacute;n, en circunstancias apropiadas, de los
                privilegios de uso del Sitio Web para usuarios que son violadores repetitivos
                de los derechos de propiedad intelectual.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>
                21.      <u>Cambios de T&eacute;rminos de Uso. </u> Time Inc. se reserva el
                derecho, a su sola discreci&oacute;n, de cambiar, modificar, a&ntilde;adir o quitar cualquier
                porci&oacute;n de los T&eacute;rminos y Condiciones, toda o en parte, en cualquier momento.
                Los cambios en los T&eacute;rminos y Condiciones ser&aacute;n efectivos cuando se publiquen.
                La continuaci&oacute;n del uso del Sitio Web y/o de los servicios puestos a
                disposici&oacute;n en o a trav&eacute;s del Sitio Web despu&eacute;s de haber sido publicado
                cualquier cambio, ser&aacute; considerado como aceptaci&oacute;n de esos cambios.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>
                22.      <u>Miscel&aacute;neos. </u>Los T&eacute;rminos y Condiciones y la relaci&oacute;n
                entre usted y nosotros, ser&aacute;n regidos por las leyes del Estado de Nueva York,
                Estados Unidos de Am&eacute;rica, sin consideraci&oacute;n a conflictos de disposiciones de
                ley. Usted se obliga a que cualquier causa de acci&oacute;n legal que resulte bajo los
                T&eacute;rminos y Condiciones ser&aacute; iniciada y o&iacute;da en la corte apropiada en el Estado
                de Nueva York, Condado de Nueva York, Estados Unidos de Am&eacute;rica. Usted se
                obliga a someterse a la jurisdicci&oacute;n personal y exclusiva de las cortes localizadas
                dentro del Condado de Nueva York en el Estado de Nueva York. Nuestra falla al
                ejercer y hacer valer cualquier derecho o disposici&oacute;n de los T&eacute;rminos y
                Condiciones no constituir&aacute; una renuncia a dicho derecho o disposici&oacute;n. Si
                cualquier disposici&oacute;n de los T&eacute;rminos y Condiciones es encontrada inv&aacute;lida por
                una corte de jurisdicci&oacute;n competente, las partes, sin embargo, est&aacute;n de acuerdo
                en que la corte deber&aacute; esforzarse en aplicar las intenciones de las partes como
                est&aacute;n reflejadas en la disposici&oacute;n, y las otras disposiciones de los T&eacute;rminos y
                Condiciones permanecen vigentes.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>23.<u>T&eacute;rminos Suplementarios. </u></span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>Notificaci&oacute;n de Getty Images:</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>
                Las im&aacute;genes inm&oacute;viles y representaciones visuales de Getty Images
                (incluyendo, sin limitaci&oacute;n, Sport, MLB, NHLI, AFP Sport y Bongarts Sports de
                propiedad absoluta de Getty Images) no pueden ser republicadas, retransmitidas,
                reproducidas, descargadas o usadas de cualquier otra manera, excepto para
                descarga para uso personal, no comercial.
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>Estos T&eacute;rminos y Condiciones fueron corregidos 02/04/2009.</span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span lang=ES style='font-family:
Arial'>&nbsp;</span>
        </p>

    </div>

</body>
