
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="text-center">
    <link href="~/Content/StylesheetAlan.css" rel="stylesheet" type="text/css" />

    <br /> <br /> <br /> <br />

    <div class="reg">
        <div class="ava">
            <img src="~/Media/Images/Avatar.png" width="150" />
        </div>
        <h2> Registro </h2>
        <h3> Ingresa tus Datos </h3>
        Nombre
        <input ID="first_name" CssClass="input" placeholder="Nombre"> <br /> <br />

        Apellido
        <input ID="last_name" CssClass="input" placeholder="Apellido"> <br /> <br />

        Nombre de Usuario
        <input ID="id_user" CssClass="input" placeholder="Usuario"> <br /><br />

        Fecha de Nacimiento<br />
        <input ID="birth_date" CssClass="input" TextMode="Date"> <br /> <br />

        Nacionalidad:&nbsp;
        <select ID="nationality">
            <option>Afganistán</option>
            <option>Albania</option>
            <option>Alemania</option>
            <option>Andorra</option>
            <option>Angola</option>
            <option>Antigua y Barbuda</option>
            <option>Arabia Saudita</option>
            <option>Argelia</option>
            <option>Argentina</option>
            <option>Australia</option>
            <option>Austria</option>
            <option>Azerbaiyán</option>
            <option>Bahamas</option>
            <option>Bangladés</option>
            <option>Barbados</option>
            <option>Baréin</option>
            <option>Bélgica</option>
            <option>Belice</option>
            <option>Benín</option>
            <option>Bielorrusia</option>
            <option>Birmania</option>
            <option>Bolivia</option>
            <option>Bosnia-Herzegovina</option>
            <option>Botsuana</option>
            <option>Brasil</option>
            <option>Brunéi</option>
            <option>Bulgaria</option>
            <option>Burkina Faso</option>
            <option>Burundi</option>
            <option>Bután</option>
            <option>Cabo Verde</option>
            <option>Camboya</option>
            <option>Camerún</option>
            <option>Canadá</option>
            <option>Catar</option>
            <option>Chad</option>
            <option>Chile</option>
            <option>China</option>
            <option>Chipre</option>
            <option>Colombia</option>
            <option>Comoras</option>
            <option>Congo</option>
            <option>Corea del Norte</option>
            <option>Corea del Sur</option>
            <option>Costa de Marfil</option>
            <option>Costa Rica</option>
            <option>Croacia</option>
            <option>Cuba</option>
            <option>Dinamarca</option>
            <option>Dominica</option>
            <option>Ecuador</option>
            <option>Egipto</option>
            <option>El Salvador</option>
            <option>Emiratos Árabes Unidos</option>
            <option>Eritrea</option>
            <option>Eslovaquia</option>
            <option>Eslovenia</option>
            <option>España</option>
            <option>Estados Unidos</option>
            <option>Estonia</option>
            <option>Etiopía</option>
            <option>Filipinas</option>
            <option>Finlandia</option>
            <option>Fiyi</option>
            <option>Francia</option>
            <option>Gabón</option>
            <option>Gambia</option>
            <option>Georgia</option>
            <option>Ghana</option>
            <option>Granada</option>
            <option>Grecia</option>
            <option>Guatemala</option>
            <option>Guinea</option>
            <option>Guinea Ecuatorial</option>
            <option>Guinea-Bisáu</option>
            <option>Guyana</option>
            <option>Haití</option>
            <option>Honduras</option>
            <option>Hungría</option>
            <option>India</option>
            <option>Indonesia</option>
            <option>Irak</option>
            <option>Irán</option>
            <option>Irlanda</option>
            <option>Islandia</option>
            <option>Islas Marshall</option>
            <option>Islas Salomón</option>
            <option>Israel</option>
            <option>Italia</option>
            <option>Jamaica</option>
            <option>Japón</option>
            <option>Jordania</option>
            <option>Kazajistán</option>
            <option>Kenia</option>
            <option>Kirguistán</option>
            <option>Kiribati</option>
            <option>Kosovo</option>
            <option>Kuwait</option>
            <option>Laos</option>
            <option>Lesoto</option>
            <option>Letonia</option>
            <option>Líbano</option>
            <option>Liberia</option>
            <option>Libia</option>
            <option>Liechtenstein</option>
            <option>Lituania</option>
            <option>Luxemburgo</option>
            <option>Macedonia</option>
            <option>Madagascar</option>
            <option>Malasia</option>
            <option>Malaui</option>
            <option>Maldivas</option>
            <option>Malí</option>
            <option>Malta</option>
            <option>Marruecos</option>
            <option>Mauricio</option>
            <option>Mauritania</option>
            <option>México</option>
            <option>Micronesia</option>
            <option>Moldavia</option>
            <option>Mónaco</option>
            <option>Mongolia</option>
            <option>Montenegro</option>
            <option>Mozambique</option>
            <option>Namibia</option>
            <option>Nauru</option>
            <option>Nepal</option>
            <option>Nicaragua</option>
            <option>Níger</option>
            <option>Nigeria</option>
            <option>Noruega</option>
            <option>Nueva Zelanda</option>
            <option>Omán</option>
            <option>Países Bajos</option>
            <option>Pakistán</option>
            <option>Palaos</option>
            <option>Palestina</option>
            <option>Panamá</option>
            <option>Papúa Nueva Guinea</option>
            <option>Paraguay</option>
            <option>Perú</option>
            <option>Polonia</option>
            <option>Portugal</option>
            <option>Reino Unido</option>
            <option>República Centroafricana</option>
            <option>República Checa</option>
            <option>República Democrática del Congo</option>
            <option>República Dominicana</option>
            <option>Ruanda</option>
            <option>Rumania</option>
            <option>Rusia</option>
            <option>Samoa</option>
            <option>San Cristóbal y Nieves</option>
            <option>San Marino</option>
            <option>San Vicente y las Grandinas</option>
            <option>Santa Lucía</option>
            <option>Santo Tomé y Príncipe</option>
            <option>Senegal</option>
            <option>Serbia</option>
            <option>Seychelles</option>
            <option>Sierra Leona</option>
            <option>Singapur</option>
            <option>Siria</option>
            <option>Somalia</option>
            <option>Sri Lanka</option>
            <option>Suazilandia</option>
            <option>Sudáfrica</option>
            <option>Sudán</option>
            <option>Sudán del Sur</option>
            <option>Suecia</option>
            <option>Suiza</option>
            <option>Surinam</option>
            <option>Tailandia</option>
            <option>Taiwán</option>
            <option>Tanzania</option>
            <option>Tayikistán</option>
            <option>Timor Oriental</option>
            <option>Togo</option>
            <option>Tonga</option>
            <option>Trinidad y Tobago</option>
            <option>Túnez</option>
            <option>Turkmenistán</option>
            <option>Turquía</option>
            <option>Tuvalu</option>
            <option>Urcrania</option>
            <option>Uganda</option>
            <option>Uruguay</option>
            <option>Uzbekistán</option>
            <option>Vanuatu</option>
            <option>Vaticano</option>
            <option>Venezuela</option>
            <option>Vietnam</option>
            <option>Yemen</option>
            <option>Yibuti</option>
            <option>Zambia</option>
            <option>Zimbabue</option>
        </select>
        <br />
        <br />

        Correo Electrónico
        <input ID="email" CssClass="input" placeholder="Correo" TextMode="Email"></input> <br /> <br />

        Teléfono
        <input ID="TextBox1" CssClass="input" placeholder="Teléfono" TextMode="Phone"></input><br /> <br />

        Contraseña
        <input ID="txtpass" CssClass="input" placeholder="Contraseña" TextMode="Password"></input><br /><br />

        Confirmar Contraseña
        <input ID="txtpass2" CssClass="input" placeholder="Contraseña" TextMode="Password"></input><br /><br />
        <button type="button" ID="Button2" CssClass="input" Width="100%">Registrate</button>

    </div>
</body>